body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#registration-form {
    max-width: 500px;
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 8px 0px #007bff;
}

input:invalid {
    box-shadow: 0 0 8px 0px rgba(217, 0, 0, 0.53);
}

input:valid {
    box-shadow: 0 0 8px 0px rgba(72, 255, 0, 0.5);
}

textarea {
    max-height: 150px;
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    background-image: linear-gradient(to bottom right, #007bff, #ad4afd);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#loadingSpinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
